<mat-card>
  <ul class="transactions-container">
    <li class="transaction" *ngFor="let transaction of transactions;let i = index">
      <div class="left">
        <p class="concept"><mat-icon (click)="editarGasto(i,transaction)"> edit</mat-icon>{{ transaction.concept }}</p>
        <app-formulario-reutilizable *ngIf="editar && indiceEditando === i" [valor]="transaction" (handleSubmit)="onSubmit($event)"></app-formulario-reutilizable>
        <span class="date">{{ transaction.date | date: 'dd/MM/yyyy' }}</span>
      </div>
      <div class="amount">{{ transaction.amount | currency}}</div>
    </li>
  </ul>
 
  <mat-card-footer *ngIf="!transactions">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>

</mat-card>
