<div class="title">
  <h2 class="h2title">Convertir dinero</h2>
</div>
  <form [formGroup]="form" (submit)="onSubmit()" class="container">
    <div *ngIf="botonDeCAMBIO" class="divsInputs">
      <p class="pInput">Cambiar de Peso a Dolares</p>
      <div class="divsINputyBoton">
        <div>
          <input type="number" formControlName="pesoDolar" class="inputs" />
        </div>
        <button class="btn2" (click)="ClickDeCAMBIO()"><==></button>
      </div>
    </div>

    <div *ngIf="!botonDeCAMBIO" class="divsInputs">
      <p class="pInput">Cambiar de Dolares a Pesos</p>
      <div class="divsINputyBoton">
        <div>
          <input type="number" formControlName="dolarPeso" class="inputs" />
        </div>
        <button class="btn2" (click)="ClickDeCAMBIO()"><==></button>
      </div>
    </div>

    <button
      (submit)="onSubmit()"
      [disabled]="form.invalid"
      class="login-btn"
      mat-raised-button
      color="primary">
      Convertir
    </button>
  </form>
<h2 *ngIf="botonDeCAMBIO">${{ this.valoresFormulario1 }} Pesos = $Us {{ valor1 }}</h2>
<h2 *ngIf="!botonDeCAMBIO">${{ this.valoresFormulario2 }} $Us = $Pesos {{ valor2 }}</h2>
