<div class="container">
  <h1>Movimientos</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Monto</th>
        <th>Concepto</th>
        <th>Fecha</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.concept }}</td>
        <td >{{ transaction.date | date:'dd/MM/yyyy' }}</td>
        <td>{{ transaction.type === 'payment' ? 'Egreso' : 'Ingreso' }}</td>
      </tr>
    </tbody>
  </table>
  
</div>