<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="footerContainer">
  <div class="imagen-logoContainer container">
    <div class="imagen-logo"></div>
  </div>

  <div class="container footerFlex pantallaGrande">
    <div class="twitters">
      <a
        class="twitter-timeline aTwitter"
        href="https://twitter.com/bank_alkyFin?ref_src=twsrc%5Etfw"
        data-chrome="nofooter noborders"
        data-tweet-limit="4"
        >Tweets by AlkyBank</a
      >
    </div>
    <ul class="ul-Footer">
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/cargaDeSaldos">Carga de saldos</a></li>
      <li><a routerLink="/gastos">Gastos</a></li>
      <li><a routerLink="/balance">Balance</a></li>
    </ul>
    <ul class="ul-Footer">
      <li><a routerLink="/movimientos">Movimientos</a></li>
      <li><a routerLink="/envioDeDinero">Envío de dinero</a></li>
      <li><a routerLink="/divisas">Divisas</a></li>
      <li><a routerLink="/inversion">Inversión</a></li>
    </ul>
  </div>

  <div class="pantalla-199 container footerFlex pantallaMedia ">
    <ul class="ul-Footer">
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/cargaDeSaldos">Carga de saldos</a></li>
    </ul>
    <ul class="ul-Footer">
      <li><a routerLink="/gastos">Gastos</a></li>
      <li><a routerLink="/balance">Balance</a></li>
    </ul>
    <ul class="ul-Footer">
      <li><a routerLink="/movimientos">Movimientos</a></li>
      <li><a routerLink="/envioDeDinero">Envío de dinero</a></li>
    </ul>
    <ul class="ul-Footer">
      <li><a routerLink="/divisas">Divisas</a></li>
      <li><a routerLink="/inversion">Inversión</a></li>
    </ul>
  </div>
  <div class="pantalla-199 container whitget991 color2">
    <div class="twitters992">
      <a
        class="twitter-timeline aTwitter992"
        href="https://twitter.com/DukiSSJ?ref_src=twsrc%5Etfw"
        data-chrome="nofooter noborders"
        data-tweet-limit="4"
        >Tweets by DukiSSJ</a
      >
    </div>
  </div>

  <p class="copyright container containerParrafo">
    Copyright © 2022 — 2023 Ng Wallers. La plataforma fue elaborada por Ng
    Wallers y ejecuta su actividad en esta web bajo la licencia "Wallet Services
    Ltd. All rights reserved".
  </p>
</div>
