<!--
<div class="container">
  <h1 > {{data.title}}</h1>
  <div mat-dialog-content>
    <p>{{ data.data }}</p>
  </div>
  <br />
  <div class="containerTerminosCondiciones">
    <button
      mat-raised-button
      color="primary"
      type="button"
      class="btn-Aceptar"
      (click)="onNoClick()">
      Aceptar
    </button>
    <button
      mat-raised-button
      color="accent"
      type="button"
      class="btn-cancelar"
      (click)="onNoClick()">
      Cancelar
    </button>
  </div>
</div>
-->


<h1 [innerHTML]="data.title"></h1>
<mat-dialog-content class="mat-typography" [innerHTML]="data.data">
    
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    type="button"
    class="btn-Aceptar"
    (click)="onNoClickAccept()">
    Aceptar
  </button>
  <button
    mat-raised-button
    color="accent"
    type="button"
    class="btn-cancelar"
    (click)="onNoClickCancel()">
    Cancelar
  </button>
</mat-dialog-actions>