.container{
    margin: auto;
}

.card{
    max-width: 50%;
    margin: auto;
}

.item{
    color: white;
}

.card-background{
    color: white;
    max-width: 50%;
    margin: auto;
    background: rgb(75,123,182);
    background: radial-gradient(circle, rgba(75,123,182,1) 0%, rgba(157,224,175,1) 100%, rgba(148,187,233,1) 100%);
}

.titulo{
    text-align: center;
}

.btn{
    text-align: center;
}