<mat-card>
    <mat-card-content>
        <div class="contenedor-Perfil">
            <img [src]="avatar" class="avatar-user">
            <div class="datos-user">
                <h1>{{usuario.first_name + " " + usuario.last_name }}</h1>
                <h2>Puntos : {{usuario.points}}</h2>
                <p>Email : {{usuario.email}}</p>

                <div class=" botones"> 
                    <button mat-raised-button color="primary" (click)="CambiarContrasenia()">Cambiar Contraseña</button>
                    <button mat-raised-button color="accent" (click)="EditarPerfil()">Editar Perfil</button>
                    <button mat-raised-button color="link" (click)="logout()">Cerrar Sesion</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>