<mat-card>
  <mat-card-content>
    <div class="contenedor-Perfil">
      <div class="avatar-container" >
        <div class="avatar-user" [innerHTML]="svg"></div>

        <!-- <img [src]="avatar" class="avatar-user" /> -->
      </div>
      <div class="datos-user">
        <h1>{{ usuario.first_name + ' ' + usuario.last_name }}</h1>
        <h2>Puntos : {{ usuario.points | number }}</h2>
        <p>Email : {{ usuario.email }}</p>

        <div class="botones">
          <button
            class="btn1"
            mat-raised-button
            color="primary"
            (click)="CambiarContrasenia()">
            Cambiar Contraseña
          </button>
          <button mat-raised-button color="accent" (click)="EditarPerfil()">
            Editar Perfil
          </button>
          <button mat-raised-button color="link" (click)="logout()">
            Cerrar Sesión
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
