<mat-card>
  <mat-card-content>
    <form *ngIf="userLoaded" (submit)="updateProfile(username.value, name.value, avatar.value)" class="mobile-form">
      <div class="form-group">
        <app-rtitle [title]="title"></app-rtitle>
        
        <label for="username"><i class="fa fa-user"></i> Nombre:</label>
        <input type="text" name="username" id="username" #username value="{{ user.first_name }}" required>
      </div>
    
      <div class="form-group">
        <label for="name"><i class="fa fa-user"></i>Apellido:</label>
        <input type="text" name="name" id="name" #name value="{{ user.last_name }}" required>
      </div>
    
      <div class="form-group">
        <label for="avatar"><i class="fa fa-mail"></i> Mail:</label>
        <input type="email" name="avatar" id="avatar" #avatar value="{{ user.email }}" required>
      </div>
    
      <button mat-raised-button color="accent" type="submit">Actualizar perfil</button>
      <br>
      <br>
    </form>
  
  </mat-card-content>
</mat-card>

