.card{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 600px;
}

.face-icon{
    margin-right: 5px;
}

.avatar{
    width: 60px;
    height: 60px;
    padding: 10px;
}

h3{
    margin: 0;
    font-weight: 500;
}

p{
    margin: 0;
    font-size: 14px;
    color: rgb(77, 77, 77);
}

mat-list-item{
    margin-bottom: 20px;
    margin-top: 20px;
}

mat-card-actions {
    display: flex;
    gap: 1rem;
    position: absolute;
    right: 5px;

    .action-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .2rem;
      justify-content: center;
      width: 50px;

      text-align: center;
      font-size: 11px;
      line-height: 12px;
      text-decoration: none;
      color: #000;

      padding: .3rem 0;
      border-radius: .5rem;

      i, svg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        fill: #0177B7;
      }
    }
  }
