<app-rtitle [title]="title"></app-rtitle>
<mat-card class="card">
    <mat-card-content>
        <mat-list role="list"  *ngFor="let usuario of users">
                <mat-list-item role="listitem">
                  <div class="avatar" [innerHTML]="usuario.avatar"></div>
                  <div>
                    <h3>{{usuario.first_name + ' ' + usuario.last_name | titlecase}}</h3>
                    <p>{{usuario.email}}</p>
                  </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
    </mat-card-content>
  </mat-card>
