.container {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom right, #1c82ad, #00337c);
  color: white;
    
  h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
  }
    
  .table {
    margin-top: 2rem;
       
    border-collapse: collapse;
    width: 100%;
    
    th, td {
      padding: 1rem;
      text-align: left;
    }

    

    
    th {
      background-color: rgba(255, 255, 255, 0.1);
    }
    
    tbody tr {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    tbody tr:last-child {
      border-bottom: none;
    }
    
    
    
    // cel
    @media (max-width: 768px) {
      font-size: 0.8rem;
      margin-top: 1rem;
    
      th, td {
        padding: 0.8rem;
      }
    
      h1 {
        font-size: 1.5rem;
      }

    }
  }

  .btn-container{
    margin:0 0 0 1rem;
  }
}