<div class="container">
  <h1>Egresos</h1>
  <div class="btn-container">
    <button mat-raised-button type="button" color="link" class="btn btn-primary" routerLink="/transactions/movimientos">Ver todas las transacciones</button>
  </div>
    <table class="table">
      <thead>
        <tr>
          <th>Transacción</th>
          <th>Monto</th>
          <th>Concepto</th>
          <th>Fecha</th>     
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let egreso of egresos">
          <td>{{ egreso.id }}</td>
          <td>{{ egreso.amount }}</td>
          <td>{{ egreso.concept }}</td>
          <td >{{ egreso.date | date:'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>