<div class="container">
  <h1>Ingresos</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Transacción</th>
          <th>Monto</th>
          <th>Concepto</th>
          <th>Fecha</th>     
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingreso of ingresos">
          <td>{{ ingreso.id }}</td>
          <td>{{ ingreso.amount }}</td>
          <td>{{ ingreso.concept }}</td>
          <td >{{ ingreso.date | date:'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
