<script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"></script>

<div class="footerContainer">
  <div class="container footerFlex pantallaGrande">
    <ul class="ul-Footer">
      <div class="imagen-logoContainer container">
        <div class="imagen-logo"></div>
      </div>
    </ul>
    <ul class="ul-Footer">
      <li><a href="https://twitter.com/bank_alkyFin">Twitter</a></li>
      <li>
        <a href="https://www.facebook.com/profile.php?id=100090181016192"
          >Facebook</a
        >
      </li>
      <li><a href="https://www.instagram.com/alkibank/">Instagram</a></li>
    </ul>
  </div>

  <div class="pantallaChica">

    <div class="imagen-logoContainer container">
      <div class="imagen-logo"></div>
    </div>

    <div class="container footerFlex">
      <ul class="ul-Footer">
        <li><a href="https://twitter.com/bank_alkyFin">Twitter</a></li>
        <li>
          <a href="https://www.facebook.com/profile.php?id=100090181016192"
            >Facebook</a
          >
        </li>
        <li><a href="https://www.instagram.com/alkibank/">Instagram</a></li>
      </ul>
    </div>

  </div>

  <p class="copyright container containerParrafo">
    Copyright © 2022 — 2023 Ng Wallers. La plataforma fue elaborada por Ng
    Wallers y ejecuta su actividad en esta web bajo la licencia "Wallet Services
    Ltd. All rights reserved".
  </p>
</div>
