<main class="main-container">
  <!-- background image -->
  <section class="password-reset-image-container">
    <img
      src="../../../../assets/password-reset.svg"
      alt="password reset image"
      class="password-reset-image" />
  </section>

  <!-- form -->
  <section class="password-reset-form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2 class="password-reset-form-title">Modificar contraseña</h2>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form
          [formGroup]="passwordResetForm"
          class="password-reset-form"
          (ngSubmit)="onSubmit()">
          <!-- email -->
          <mat-form-field appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="email" type="text" name="email" />

            <mat-error
              class="err-email"
              *ngIf="
                passwordResetForm.get('email')?.invalid &&
                !passwordResetForm.controls['email'].hasError('pattern')
              ">
              Este campo no puede quedar vacío
            </mat-error>
            <mat-error
              class="err-email"
              *ngIf="passwordResetForm.controls['email'].hasError('pattern')">
              Introduzca una dirección de correo electrónica válida
            </mat-error>
          </mat-form-field>

          <!-- contraseña -->
          <mat-form-field appearance="outline">
            <mat-label>Nueva Contraseña</mat-label>
            <input
              matInput
              formControlName="password"
              type="password"
              autocomplete="new-password" />

            <mat-error
              class="err-password"
              *ngIf="passwordResetForm.get('password')?.invalid">
              Este campo no puede quedar vacío
            </mat-error>
          </mat-form-field>

          <!-- confirmar contraseña -->
          <mat-form-field appearance="outline">
            <mat-label>Confirmar nueva contraseña</mat-label>
            <input
              matInput
              formControlName="confirmPassword"
              type="password"
              autocomplete="new-password"
              [errorStateMatcher]="matcher" />

            <mat-error
              class="err-confirm"
              *ngIf="passwordResetForm.get('confirmPassword')?.invalid">
              Este campo no puede quedar vacío
            </mat-error>
            <mat-error class="err-confirm">
              Las contraseñas no coinciden
            </mat-error>
          </mat-form-field>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!passwordResetForm.valid">
            Guardar cambios
          </button>
        </form>
        <button
            mat-raised-button
            class="btn-back-user"
            color="accent"
            type="submit"
            (click)="backUser()">
            Regresar a User
          </button>
      </mat-card-content>
    </mat-card>
  </section>
</main>
