@use '../../../../styles/variables' as vars;

.main-container {
    min-height: calc(100vh - vars.$header-height);
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .password-reset-form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;

        mat-card {
            width: 100%;
            display: block;
            margin: 0 auto;

            mat-card-header {
                padding: 1rem 0 0;
                // justify-content: center;
            }
            // .password-reset-form-title {
            //     font-size: 2rem;
            // }

            .password-reset-form {
                display: flex;
                flex-direction: column;

                mat-form-field {
                    padding: 0.5rem 0;
                }
            }
        }
    }

    .password-reset-image-container {
        display: none;
    }
}


// media queries
@media screen and (min-width: 960px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .password-reset-image-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .password-reset-image {
                width: 75%;
            }
        }

        .password-reset-form-container {
            width: 75%;
        }
    }
  }

/*Maxi*/
.btn-back-user{
    width: 100%;
    margin:1rem 0 0 0;
}
  