<div class="container">
    <mat-card>
        <p>app-slidebar</p>
    </mat-card>

    <mat-card>
        <app-rtitle [title]="'Estás en el Home de AkBank'"></app-rtitle>
    </mat-card>
    <mat-card>
      <h2>Últimos movimientos</h2>
      <p>app-ultimos-movimientos</p>
    </mat-card>
    <mat-card>
      <h2>Ingresos</h2>
      <p>app-ingresos</p>
    </mat-card>
    <mat-card>
      <h2>Egresos</h2>
      <p>app-egresos</p>
    </mat-card>
    <mat-card>
      <h2>Balance</h2>
      <p>app-balance</p>
    </mat-card>
    <mat-card>
        <p>app-footer</p>
    </mat-card>
  </div>