.container {
    margin: 0 auto 30px auto;
}

.card {
    max-width: 600px;
    margin: auto;
}

.item {
    color: white;
}

.card-background {
    color: white;
    max-width: 600px;
    margin: auto;
    background-color: #0081c9;
}

.titulo {
    text-align: center;
}

.btn {
    text-align: center;
    margin-right: 1em;
}

.margin {
    margin-top: 15px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .card-background {
        max-width: 80%;
    }

    .card {
        max-width: 80%;
    }

    .btn-back-home{
        margin:1rem 0 0 0;
    }

}