.title {
  text-align: center;
}
h1,
h2 {
  text-align: center;
}
h2 {
  margin-top: 50px;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  max-width: 1000px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 20px;
}

h2,
h5,
label {
  color: #374151;
}
.divsInputs{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputs{
  font-size: 23px;
  margin-top: 25px;
}
.pInput{
  text-align: center;
}
.divsINputyBoton{
  display: flex;
  justify-content: center;
}
.btn2{
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}
.btn {
  background-color: rgb(63, 112, 202);
  margin-top: 20px;
  margin-bottom: 10px;
  color: brown;
  font-weight: bold;
}

mat-card {
  width: 80%;
  max-width: 500px;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

.terms {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.terms p {
  margin: 0;
}

.terms span {
  cursor: pointer;
  text-decoration: underline;
}

button {
  margin-top: 1.5rem;
}
.h2title {
 margin-top: 25px;
}

/*Maxi*/
span{
  color: #03C988;
}