/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/*
Fonts para usar "Roboto, Hind, Playfair, Raleway"
font-family: 'Hind', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
*/
