.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example-card {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

mat-card-content{
    text-align: center;
}

p{
    margin: 2rem 0 2rem 0;
    font-size: 1.5rem;
}

span{
    color: #03C988;
}